
<ion-header translucent>
    <ion-toolbar>
        <ion-title>Neuer Fang</ion-title>
        <ion-buttons slot="start">
            <!--            <ion-back-button text="" icon="close" defaultHref="/"></ion-back-button>-->
            <ion-back-button text="" icon="close"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="4" *ngFor="let photo of photoService.photos; index as position">
                <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
                         (click)="showActionSheet(photo, position)"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-camera-edit-card></app-camera-edit-card>


    <!--    <ion-tabs>-->
    <!--        <ion-tab-bar slot="bottom">-->
    <!--            <ion-tab-button (click)="photoService.showGallery()">-->
    <!--                <ion-icon name="images-outline"></ion-icon>-->
    <!--                <ion-label></ion-label>-->
    <!--            </ion-tab-button>-->

    <!--            <ion-tab-button (click)="photoService.showCamera()">-->
    <!--                <ion-icon name="camera-outline"></ion-icon>-->
    <!--                <ion-label></ion-label>-->
    <!--            </ion-tab-button>-->
    <!--        </ion-tab-bar>-->
    <!--    </ion-tabs>-->

</ion-content>


