<ion-header translucent>
    <ion-toolbar>
        <ion-title>Neuer Fang</ion-title>

        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="secondary">Teilen</ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="5" *ngFor="let photo of photoService.photos; index as position">
                        <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
                                 (click)="showActionSheet(photo, position)"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-input placeholder="Bildunterschrift verfassen..."></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>ANGELST DU GERADE HIER?</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label type="number" position="floating">Floating Label</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>GROESE</ion-label>
            <ion-input [ngStyle]="{'text-align' : 'right'}"
                       type="tel"
                       maxlength="3"
                       minlength="1"
                       pattern="[0-9]"
                       [(ngModel)]="cm"></ion-input>
            <ion-label [ngStyle]="{'margin-left' : '6px'}"> cm</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Fangzeit</ion-label>
            <!--            <ion-label [ngStyle]="{'text-align' : 'right'}">{{getCurrentDate()}}</ion-label>-->

            <ion-item>
                <ion-label position="stacked"></ion-label>
                <ion-datetime displayFormat="D MMM YYYY H:mm"
                              value= fangZeit
                              min="2000"
                              minuteValues="0,15,30,45"
                              [(ngModel)]="fangZeit"></ion-datetime>
            </ion-item>

        </ion-item>

        <ion-item>
            <ion-label>phone</ion-label>
            <ion-input type="tel" maxlength="3" clearInput></ion-input>
        </ion-item>
        <!--    <ion-tabs>-->
        <!--        <ion-tab-bar slot="bottom">-->
        <!--            <ion-tab-button (click)="photoService.showGallery()">-->
        <!--                <ion-icon name="images-outline"></ion-icon>-->
        <!--                <ion-label></ion-label>-->
        <!--            </ion-tab-button>-->

        <!--            <ion-tab-button (click)="photoService.showCamera()">-->
        <!--                <ion-icon name="camera-outline"></ion-icon>-->
        <!--                <ion-label></ion-label>-->
        <!--            </ion-tab-button>-->
        <!--        </ion-tab-bar>-->
        <!--    </ion-tabs>-->

    </ion-list>


</ion-content>
