<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Neuste Fänge</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>Gewässer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Meins</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
