<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Header - No Border</ion-title>
    </ion-toolbar>
</ion-header>

<!--SUCHE-->

<ion-content>
    <!--REFRESHER-->
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" id="refresher">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

<!--    <ion-list *ngFor="let card of cards">-->
<!--        <app-news-card-content [card]=card></app-news-card-content>-->
<!--    </ion-list>-->

    <ion-list>


        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

            <ion-card-header>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label>Johann Just</ion-label>
                </ion-item>


                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>





    </ion-list>

    <!--Infinite-scroll-->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <!-- fab placed to the top end -->
<!--    <ion-fab vertical="top" horizontal="end" slot="fixed">-->
<!--        <ion-fab-button>-->
<!--            <ion-icon name="add"></ion-icon>-->
<!--        </ion-fab-button>-->
<!--    </ion-fab>-->


</ion-content>
