<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Header - No Border</ion-title>
  </ion-toolbar>
</ion-header>

<!--SUCHE-->

<ion-content>
  <ion-list>


  </ion-list>

  <app-news-card-content></app-news-card-content>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>
</ion-content>
