<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>ion-item in a card, icon left, button right</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
    </ion-card-content>
</ion-card>


<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />
    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>
<ion-card>
    <img src="https://www.dafv.de/media/k2/items/cache/f50c152c7848dac24210d3ad3ad22154_XL.jpg" />

    <ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Johann Just</ion-label>
        </ion-item>


        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>

















