<ion-header>
    <ion-toolbar>
        <ion-title>Sign in User</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="text" #password required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
            </ion-col>
        </ion-row>
    </div>


    <ion-button (click)="goToRegisterPage()">Register</ion-button>

    <!--    WORKING!!!!-->
    <!--    <ion-button  (click)="userService.PasswordRecover('j.just2002@gmail.com')" >Reset Password</ion-button>-->

    <!-- Calling GoogleAuth() Api from AuthService -->
    <div class="formGroup">
        <button type="button" (click)="userService.GoogleAuth()">

            <i class="fa fa-google" aria-hidden="true"></i>

            Log in with Google
        </button>
    </div>


</ion-content>








